<h1>{{page_title}}</h1>

<pre><code>{{ atms | json }}</code></pre>

<article ng-repeat="post in atms">
    <h2 ng-bind-html="post.title.rendered | to_trusted"></h2>
    <div ng-bind-html="post.excerpt.rendered | to_trusted"></div>
    <div ng-if="post.acf">
            <p>{{post.acf.fruits}}</p>
    </div>
    <div ng-if="!post.acf">
            <p>Sorry, there was not acf</p>
    </div>
    <div ng-if="post.gcacf">
            <p>{{post.gcacf.gc_name}}</p>
            <p>{{post.gcacf.gc_age}}</p>
            <p>{{post.gcacf.gc_title}}</p>
    </div>
    <div ng-if="!post.gcacf">
            <p>Sorry, there was not acf</p>
    </div>
    <div ng-if="post.gc_name">
            <p>{{post.gc_name}}</p>
    </div>
    <div ng-if="!post.gc_name">
            <p>Sorry, there was not gc_name</p>
    </div>
    <a ui-sref="atmdetail({id: post.id})">Click to read more</a>
</article>